[submodule "api"]
	path = api
	url = git@github.com:betagouv/notification-api.git
[submodule "admin"]
	path = admin
	url = git@github.com:betagouv/notification-admin.git
[submodule "utils"]
	path = utils
	url = git@github.com:betagouv/notification-utils.git
